@media (max-width:768px){
    .fundo-laranja{
        margin: 1rem 0!important;
    }
    #total-hospedagem{
        top: 0;
        margin-top: 2rem!important;
    }
    #colunas1{
        margin-bottom: 1rem!important;
    }
    .itens-coluna{
        font-size: 3vw;
    }
    .letra-colunas{
        font-size: 3.5vw;
    }
    #dias-hospedagem{
        margin-top: 1rem!important;
    }
    #diminuir-padding{
        padding-bottom: 1rem!important;
    }
    .saudacao{
        font-size: 6vw;
        float: left;
        left: 20%;
    }
    .botao-sair{
        padding-top: 0.3rem;
        margin-right: 0.5rem;
    }
    .imagem-sair{
        width: 5vw;
    }
    .nome-sair{
        font-size: 2vw;
    }
    #letra-link-comentario{
        font-size: 6vw;
    }
    #botao-comentario{
        padding: 4px 3rem;
        font-size: 4vw;
    }
    .letra-footer{
        font-size: 2.2vw;
    }
    #saudacao-dono{
        font-size: 4vw;
        left: 23%;
    }
    #tabela{
        overflow-x:auto;
        display: block;
    }
    .input-cadastrar{
        margin: 0!important;
    }
    #row-cadastrar{
        margin: 0;
    }
    #input-email{
        width: 100%;
    }
    #tirar-padding-botao{
        padding-left: 0!important;
        text-align: center;
    }
    #botao-cadastrar{
        padding: 5px 2rem;
        font-size: 2.5vw;
    }
}

@media (max-width:992px){
    tr{
        font-size: 2vw;
    }
    .quartos{
        margin: 4rem 6rem 2rem 6rem;
    }
}

@media (max-width:687px){
    .fundo-branco{
        margin: 0 1rem;
    }
    .imagem-sair{
        width: 6vw;
    }
    .nome-sair{
        font-size: 2.5vw;
    }
    .itens-coluna{
        font-size: 4vw;
    }
    .letra-colunas{
        font-size: 4.5vw;
    }
    .letra-footer{
        font-size: 2.8vw;
    }
    tr{
        font-size: 2.5vw;
    }
    #saudacao-dono{
        font-size: 4.5vw;
        left: 25%;
    }
    #letra-cadastrar{
        font-size: 3vw;
    }
    .input-cadastrar{
        font-size: 2.5vw;
    }
    #fundo-branco-dono{
        margin: 0 2rem;
    }
    #letra-pesquisa{
        font-size: 3.5vw;
        margin-left: 0;
        text-align: center;
    }
    #botao-cadastrar{
        font-size: 3.5vw;
    }
}
@media (max-width:500px){
    tr{
        font-size: 3.5vw;
    }
    #saudacao-dono{
        font-size: 5.5vw;
        left: 21%;
    }
    #letra-pesquisa{
        font-size: 4.5vw;
    }
    #letra-cadastrar{
        font-size: 4vw;
    }
    .input-cadastrar,#input-pesquisar{
        font-size: 3.5vw;
    }
    #botao-cadastrar{
        font-size: 4vw;
    }
    #fundo-branco-dono{
        margin: 0 1rem;
    }
    .letra-footer{
        font-size: 3vw;
    }
}
@media (max-width:1200px){
    .texto-descrição{
        font-size: 1.8vw;
    }
    .tamanho-texto-acomodacao{
        font-size: 2.7vw;
        position: relative;
    }
    .tamanho-texto-valor{
        font-size: 5.2vw;
    }
    .margem-descricao{
        position: relative;
        left: 10%;
    }
}
