@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#pagina-cliente{
    background-image: url("../img/planodefundo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.fundo-branco{
    margin: 0 2rem;
    background-color: white;
    padding-bottom: 4rem;
}

.saudacao{
    position: relative;
    color: #F59940;
    padding-top: 1.5rem;
    font-size: 4vw;
    float: left;
    left: 32%;
}

.botao-sair{
    position: relative;
    float: right;
    margin-right: 2rem;
    text-align: center;
    color: #F59940;
    padding-top: 1.5rem;
}

.imagem-sair{
    position: relative;
    width: 4vw;
}

.nome-sair{
    font-size: 1.5vw;
}

#cor-laranja{
    color: #F59940;
    text-decoration: none;
}

.fundo-laranja{
    background-color: #F59940;
}

.colunas{
    margin: 6rem 0;
    width: 100%;
    
}

.letra-colunas{
    text-align: center;
    font-size: 2.5vw;
}

.itens-coluna{
    font-size: 2vw;
}

.quantidades-itens{
    float: right;
    color: white;
}

#dias-hospedagem{
    color: white;
    font-size: 4vw;
}

#total-hospedagem{
    color: white;
    font-size: 4vw;
    position: relative;
    top: 13%;
}

#letra-link-comentario{
    color: #F59940;
    font-size: 3.5vw;
}

#botao-comentario{
    background-color: #F59940;
    padding: 2px 5rem;
    border: none;
    border-radius: 15px;
    font-size: 3vw;
}

#botao-comentario:hover{
    background-color: #C9762C;
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer{
    text-align: center;
    background-color: #01A8DF;
    color: white;
}

.footer h5{
    margin: 0;
}

.letra-footer{
    font-size: 1.2vw;
    margin: 0;
}


/* pagina do dono */

#pagina-dono{
    background-image: url('../img/fundo-dono.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#saudacao-dono{
    color: #689D27;
    left: 26%;
}

#cor-verde{
    color: #689D27;
    text-decoration: none;
}

#fundo-branco-dono{
    margin: 0 6rem;
    height: 100%;
}

#pesquisar-cliente{
    position: relative;
}

#letra-pesquisa{
    font-size: 3vw;
    margin-left: 1rem;
}

#lugar-da-pesquisa{
    text-align: center;
}

#input-pesquisar{
    margin-top: 3%;
    width: 60%;
    border-radius: 10px;
    border: #80751A 1px solid;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 2vw;
    color: #80751A;
    padding: 5px;
}

tr{
    font-size: 1.5vw;
}

#imagem-lixo{
    width: 2vw;
}

#tabela{
    width: 96%;
    background-color: rgba(196, 196, 196, 0.13);
    position: relative;
    left: 2%;
}

#letra-cadastrar{
    font-size: 2.5vw;
    margin-left: 2rem;
}

#row-cadastrar{
    margin: 0 0 0 1rem;
}

.input-cadastrar{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: #80751A 1px solid;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 2vw;
}

#input-email{
    width: 90%;
}

#botao-cadastrar{
    padding: 5px 4rem;
    border-radius: 10px;
    background-color: #689D27;
    font-size: 2vw;
    color: white;
    border: none;
}

#botao-cadastrar:hover{
    background-color: #80751A;
}

.error{
    color: #FF0000;
}

/* ------------------ACOMODAÇÕES--------------------- */

#acomodacoes{
    background-image: url('../img/fundo-alternativo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.quartos{
    margin: 4rem 8rem 2rem 8rem;
}

.tamanho-carrossel{
    width: 95%;
    position: relative;
    left: 2.5%;
}

.distancia-seta{
    width: 5%;
}

.letra-nome-quarto{
    font-size: 3vw;
}

.texto-descrição{
    text-align: justify;
    width: 100%;
    position: relative;
    left: 10%;
    font-size: 1.3vw;
}

.margem-descricao{
    position: relative;
    left: 10%;
}

.tamanho-texto-acomodacao{
    font-size: 2.5vw;
}

.tamanho-texto-valor{
    font-size: 5vw;
}